a {
  text-decoration: none;
  color: black;
}

/* # Home Page */

.homeUpperCards {
  height: 19rem;
}

.upperCardsExam {
  max-height: 12.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.upperCardsExam::-webkit-scrollbar {
  display: thin;
}

.homeLowerCards {
  height: 25rem;
}

.lowerCardsExam {
  max-height: 13rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.lowerCardsExam::-webkit-scrollbar {
  display: thin;
}

/* # Courses Index */

.courseCards {
  height: 25rem;
}

.courseCards:has(.cardsTitle:hover) {
  transform: scale(1.04);
}

.courseCardsExam {
  max-height: 8rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.courseCardsExam::-webkit-scrollbar {
  display: thin;
}

.addVote:hover {
  transform: scale(1.1);
}
