/* !!! */
/* # RESET */

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #7c7c7c2a;
}

.navbar {
  background-color: #f8f9fa !important;
  box-shadow: 0px 5px 10px #198754 !important;
}

main {
  margin: 9rem 0 5rem 0;
}

.list-group {
  border-radius: 15px;
}

.list-group-item {
  border-radius: 15px;
  border: 1px solid #7c7c7c2a;
  margin-bottom: 5px;
}

.list-group-item-action:hover {
  background-color: #7c7c7c2a !important;
}

/* !!! */
/* # HOME PAGE */

.homeTitle {
  border-bottom: 3px solid #198754;
  color: #198754;
}

.homeUpperCards {
  background-color: #f8f9fa;
  border: 0px !important;
  border-radius: 15px;
  box-shadow: 0px 2px 12px #198754;
  height: 20rem;
  padding: 5px 10px;
}

.upperCardsExam {
  max-height: 12.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.upperCardsExam::-webkit-scrollbar {
  display: none;
}

.homeLowerCards {
  height: 26rem;
  background-color: #f8f9fa;
  border: 0px !important;
  border-radius: 15px;
  box-shadow: 0px 2px 12px #198754;
  padding: 5px 10px;
}

.lowerCardsExam {
  max-height: 13rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.lowerCardsExam::-webkit-scrollbar {
  display: none;
}

/* !!! */
/* # COURSES INDEX */

.pageTitle {
  border-bottom: 3px solid #198754;
  color: #198754;
}

.coursesSection {
  background-color: #f8f9fa;
  border: 0px !important;
  border-radius: 15px;
  box-shadow: 0px 2px 12px #198754;
  padding: 5px 10px;
}

.courseCards {
  height: 26rem;
  background-color: #f8f9fa;
  border: 0px !important;
  border-radius: 15px;
  box-shadow: 0px 2px 12px #198754;
}

.courseCards:has(.cardsTitle:hover) {
  transform: scale(1.05);
}

.cardsTitle {
  background-color: #f8f9fa;
  border-bottom: 3px solid #198754;
  border-radius: 15px !important;
  box-shadow: 0px 2px 4px #198754;
}

.cardsTitle:hover {
  background-color: #7c7c7c2a !important;
}

.courseCardsExam {
  max-height: 8rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.courseCardsExam::-webkit-scrollbar {
  display: none;
}

.courseCardsExam .list-group-item {
  border-bottom: 1px solid #d4d4d4;
  border-radius: 0px;
}

.cardsFooter {
  background-color: #f8f9fa;
  border-radius: 15px !important;
  border-top: 0px;
}

.examList {
  background-color: #f8f9fa;
}

/* !!! */
/* # EXAMS INDEX */

.examLists {
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.examLists::-webkit-scrollbar {
  display: thin;
}

.info {
  /* course cards exam list item */
  border-radius: 15px;

  /* course cards list item */
  background-color: #70a870;

  /* card-header e card-footer */
  background-color: #70a870;
  border-bottom: 2px solid #146c43;
}
