/* !!! */
/* # RESET */

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #234435;
}

.navbar {
  background-color: #70a870 !important;
}

.list-group-item-action:hover {
  background-color: #146c43 !important;
}

.list-group {
  border-radius: 15px;
}

/* !!! */
/* # HOME PAGE */

.homeTitle {
  border-bottom: 3px solid #198754;
}

.homeUpperCards {
  background-color: #70a870;
  border: 5px solid #198754 !important;
  box-shadow: 10px 12px 10px;
  height: 20rem;
  padding: 5px 10px;
}

.list-group-item {
  background-color: #198754;
  border-radius: 15px;
  border-bottom: 0px;
  margin-bottom: 5px;
}

.upperCardsExam {
  max-height: 12.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.upperCardsExam::-webkit-scrollbar {
  display: none;
}

.homeLowerCards {
  height: 26rem;
  background-color: #70a870;
  border: 5px solid #198754 !important;
  box-shadow: 10px 12px 10px;
  padding: 5px 10px;
}

.lowerCardsExam {
  max-height: 13rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.lowerCardsExam::-webkit-scrollbar {
  display: none;
}

/* !!! */
/* # COURSES INDEX */

.pageTitle {
  border-bottom: 3px solid #198754;
}

.coursesSection {
  background-color: #70a870;
  border: 5px solid #198754 !important;
  box-shadow: 10px 12px 10px;
  padding: 5px 10px;
}

.courseCards {
  height: 26rem;
  background-color: #70a870;
  border: 5px solid #198754 !important;
  box-shadow: 8px 8px 10px;
}

.courseCards:has(.cardsTitle:hover) {
  transform: scale(1.04);
}

.courseCardsExam {
  max-height: 8rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.courseCardsExam::-webkit-scrollbar {
  display: none;
}

.cardsTitle {
  border-radius: 0 !important;
  background-color: #198754;
  border-bottom: 0px;
}

.cardsTitle:hover {
  background-color: #146c43;
}

.cardsFooter {
  background-color: #70a870;
  border-top: 0px;
}

.isPassed {
  background-color: #70a870;
}

.notPassed {
  background-color: #bba241;
}

/* !!! */
/* # EXAMS INDEX */

.examLists {
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.examLists::-webkit-scrollbar {
  display: thin;
}

.info {
  /* course cards exam list item */
  border-radius: 15px;

  /* course cards list item */
  background-color: #70a870;

  /* card-header e card-footer */
  background-color: #70a870;
  border-bottom: 2px solid #146c43;
}
